{# ============================================================ Banner Section ===== #}
<div id="banner">
   <div class="text-scroller">
      <div class="scroller-container">
         <div class="container-xl">
            <div class="re-container row">
               <div class="notification-list col-12 w-100 marquee">
                  <marquee onmouseover="this.stop();" onmouseout="this.start();" scrollamount="7">
                     <!---->
                     <span>
                        <img loading="lazy" src="{{ base_path ~ directory }}/images/scroller/system-maintainance-icon.svg" alt=""> {{ 'System Maintenance'|t }} <!----> &nbsp; {{ 'Due to scheduled maintenance activity, the services of Retail Internet Banking, Merchant, Corporate INB, Yono Lite, Yono Business Web &amp; App, SBI Unipay will not be available tentatively between 06:20 Hrs IST and 07:10 Hrs IST on 21st February 2026. During this period, services of UPI Lite and ATM will be available.'|t }} &nbsp;
                     </span>
                     <!---->
                  </marquee>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Text scroller - Ends -->
   <!-- Carousel - Starts -->
   <div class="main-banner">
      <div id="main-banner-component-html">
         <div id="demo" data-bs-ride="carousel" class="carousel slide carousel-fade">
            <div id="carousel-banner" class="carousel-inner position-relative">
               <div class="carousel-item active">
                  <div class="banner-container">
                     <div class="container-xl h-100">
                        <div class="row h-100">
                           <div class="col-12 col-sm-6 order-1 order-sm-0 mobile-banner-desc-bg">
                              <div class="main-section-heading01 animate_animated animate_slideInLeft">{{ 'Current Account'|t }}</div>
                              <div class="main-section-desc animate_animated animate_slideInRight"> {{ 'For Every Business'|t }}</div>
                              <div class="tag-line-section animate_animated animate_zoomIn">
                                 <div class="tag-section-heading">{{ 'Streamline Transactions, Optimize Cash Flows'|t }}</div>
                                 <div class="tag-section-desc">{{ 'Exclusive banking for business'|t }}</div>
                              </div>
                           </div>
                           <div class="col-12 col-sm-6 order-0 order-sm-1 mobile-banner animate_animated animate_slideInUp first_banner"><img loading="lazy" class="banner-img animate_animated animate_slideInUp banner_api" src="{{ base_path ~ directory }}/images/carousel/banner-current-account.png" alt="{{ 'Current Account Main Banner Image'|t }}"></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="banner-container">
                     <div class="container-xl h-100">
                        <div class="row h-100">
                           <div class="col-12 col-sm-6 order-1 order-sm-0 mobile-banner-desc-bg">
                              <div class="main-section-heading01 animate_animated animate_slideInLeft">{{ 'Supercharge Your Business'|t }}</div>
                              <div class="main-section-desc animate_animated animate_slideInRight"> {{ 'With Agile Digital Banking Solutions'|t }}</div>
                              <div class="tag-line-section animate_animated animate_zoomIn">
                                 <div class="tag-section-heading">{{ 'Future-ready banking with flexible digital solutions&nbsp;'|t }}</div>
                                 <div class="tag-section-desc">{{ 'For your growing business'|t }}</div>
                              </div>
                           </div>
                           <div class="col-12 col-sm-6 order-0 order-sm-1 mobile-banner animate_animated animate_slideInUp first_banner"><img loading="lazy" class="banner-img animate_animated animate_slideInUp banner_api" src="{{ base_path ~ directory }}/images/carousel/banner-digital-solutions.png" alt="{{ 'Digital Solution Main Banner Image'|t }}"></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="banner-container">
                     <div class="container-xl h-100">
                        <div class="row h-100">
                           <div class="col-12 col-sm-6 order-1 order-sm-0 mobile-banner-desc-bg">
                              <div class="main-section-heading01 animate_animated animate_slideInLeft">{{ 'Fuel Your Global Business'|t }}</div>
                              <div class="main-section-desc animate_animated animate_slideInRight"> {{ 'With Seamless Trade Finance Solutions'|t }}</div>
                              <div class="tag-line-section animate_animated animate_zoomIn">
                                 <div class="tag-section-heading">{{ 'Streamline global trade with digital trade finance&nbsp;'|t }}</div>
                                 <div class="tag-section-desc">{{ ''|t }}</div>
                              </div>
                           </div>
                           <div class="col-12 col-sm-6 order-0 order-sm-1 mobile-banner animate_animated animate_slideInUp first_banner"><img loading="lazy" class="banner-img animate_animated animate_slideInUp banner_api" src="{{ base_path ~ directory }}/images/carousel/banner-trade.png" alt="{{ 'Trade Main Banner Image'|t }}"></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="banner-container">
                     <div class="container-xl h-100">
                        <div class="row h-100">
                           <div class="col-12 col-sm-6 order-1 order-sm-0 mobile-banner-desc-bg">
                              <div class="main-section-heading01 animate_animated animate_slideInLeft">{{ 'One Stop Solution'|t }}</div>
                              <div class="main-section-desc animate_animated animate_slideInRight"> {{ 'For All Your Forex and Treasury Requirements'|t }}</div>
                              <div class="tag-line-section animate_animated animate_zoomIn">
                                 <div class="tag-section-heading">{{ 'Forex Remittance and Hedging'|t }}</div>
                                 <div class="tag-section-desc">{{ 'Treasury solutions for corporates'|t }}</div>
                              </div>
                           </div>
                           <div class="col-12 col-sm-6 order-0 order-sm-1 mobile-banner animate_animated animate_slideInUp first_banner"><img loading="lazy" class="banner-img animate_animated animate_slideInUp banner_api" src="{{ base_path ~ directory }}/images/carousel/banner-forex.png" alt="{{ 'Forex and Treasury Main Banner Image'|t }}"></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="banner-container">
                     <div class="container-xl h-100">
                        <div class="row h-100">
                           <div class="col-12 col-sm-6 order-1 order-sm-0 mobile-banner-desc-bg">
                              <div class="main-section-heading01 animate_animated animate_slideInLeft">  {{ 'Powering Your Business Ambition'|t }}</div>
                              <div class="main-section-desc animate_animated animate_slideInRight"> {{ 'Choose Us for Your MSME Finance Needs'|t }}</div>
                              <div class="tag-line-section animate_animated animate_zoomIn">
                                 <div class="tag-section-heading">{{ 'Explore agile and forward-thinking loan options'|t }}</div>
                                 <div class="tag-section-desc">{{ 'Crafted to help our MSME capitalize on emerging possibilities'|t }}</div>
                              </div>
                           </div>
                           <div class="col-12 col-sm-6 order-0 order-sm-1 mobile-banner animate_animated animate_slideInUp first_banner"><img loading="lazy" class="banner-img animate_animated animate_slideInUp banner_api" src="{{ base_path ~ directory }}/images/carousel/banner-loans.png" alt="{{ 'Loans Main Banner Image'|t }}"></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="banner-container">
                     <div class="container-xl h-100">
                        <div class="row h-100">
                           <div class="col-12 col-sm-6 order-1 order-sm-0 mobile-banner-desc-bg">
                              <div class="main-section-heading01 animate_animated animate_slideInLeft"> {{ 'Streamline Cashflows'|t }}</div>
                              <div class="main-section-desc animate_animated animate_slideInRight"> {{ 'With Simplified Cash Management Solutions'|t }}</div>
                              <div class="tag-line-section animate_animated animate_zoomIn">
                                 <div class="tag-section-heading">{{ 'Effortless Cash Management'|t }}</div>
                                 <div class="tag-section-desc">{{ 'To boost control and streamline your finances'|t }}</div>
                              </div>
                           </div>
                           <div class="col-12 col-sm-6 order-0 order-sm-1 mobile-banner animate_animated animate_slideInUp first_banner"><img loading="lazy" class="banner-img animate_animated animate_slideInUp banner_api" src="{{ base_path ~ directory }}/images/carousel/banner-cash-management.png" alt="{{ 'Cash Management Main Banner Image'|t }}"></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="banner-container">
                     <div class="container-xl h-100">
                        <div class="row h-100">
                           <div class="col-12 col-sm-6 order-1 order-sm-0 mobile-banner-desc-bg">
                              <div class="main-section-heading01 animate_animated animate_slideInLeft"> {{ 'Boost Your Business'|t }}</div>
                              <div class="main-section-desc animate_animated animate_slideInRight"> {{ 'With Our Supply Chain Finance Solutions'|t }}</div>
                              <div class="tag-line-section animate_animated animate_zoomIn">
                                 <div class="tag-section-heading">{{ 'Paperless transactions. Real-time funds transfer.'|t }}</div>
                                 <div class="tag-section-desc"></div>
                              </div>
                           </div>
                           <div class="col-12 col-sm-6 order-0 order-sm-1 mobile-banner animate_animated animate_slideInUp first_banner"><img loading="lazy" class="banner-img animate_animated animate_slideInUp banner_api" src="{{ base_path ~ directory }}/images/carousel/banner-SCF.png" alt="{{ 'Supply Chain Finance Main Banner Image'|t }}"></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="banner-container">
                     <div class="container-xl h-100">
                        <div class="row h-100">
                           <div class="col-12 col-sm-6 order-1 order-sm-0 mobile-banner-desc-bg">
                              <div class="main-section-heading01 animate_animated animate_slideInLeft"> {{ 'Transform Your Banking Experience'|t }}</div>
                              <div class="main-section-desc animate_animated animate_slideInRight"> {{ 'With our API Solutions'|t }}</div>
                              <div class="tag-line-section animate_animated animate_zoomIn">
                                 <div class="tag-section-heading">{{ 'Integrate banking directly into your business system'|t }}</div>
                                 <div class="tag-section-desc">{{ 'For automated financial operations'|t }}</div>
                              </div>
                           </div>
                           <div class="col-12 col-sm-6 order-0 order-sm-1 mobile-banner animate_animated animate_slideInUp first_banner"><img loading="lazy" class="banner-img animate_animated animate_slideInUp banner_api" src="{{ base_path ~ directory }}/images/carousel/banner-API-bank.png" alt="{{ 'API Solutions Main Banner Image'|t }}"></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="banner-container">
                     <div class="container-xl h-100">
                        <div class="row h-100">
                           <div class="col-12 col-sm-6 order-1 order-sm-0 mobile-banner-desc-bg">
                              <div class="main-section-heading01 animate_animated animate_slideInLeft"> {{ 'Next Level Digital Capabilities'|t }}</div>
                              <div class="main-section-desc animate_animated animate_slideInRight"> {{ 'Made For You!'|t }}</div>
                              <div class="tag-line-section animate_animated animate_zoomIn">
                                 <div class="tag-section-heading">{{ 'To empower MSMEs, we have integrated with Fintechs'|t }}</div>
                                 <div class="tag-section-desc">{{ 'For enabling digital capabilities'|t }}</div>
                              </div>
                           </div>
                           <div class="col-12 col-sm-6 order-0 order-sm-1 mobile-banner animate_animated animate_slideInUp first_banner"><img loading="lazy" class="banner-img animate_animated animate_slideInUp banner_api" src="{{ base_path ~ directory }}/images/carousel/banner-connected-banking.png" alt="{{ 'Connected Banking Main Banner Image'|t }}"></div>
                        </div>
                     </div>
                  </div>
               </div>
               <!---->
               <div class="container-xl">
                  <div class="carousel-indicators">
                     <button aria-label="previous" type="button" data-bs-target="#demo" data-bs-slide="prev" class="carousel-control-prev">
                     <span class="carousel-control-prev-icon"></span>
                     </button>
                     <button type="button" data-bs-target="#demo" class=" active" aria-label="carousel button 0" data-bs-slide-to="0"></button>
                     <button type="button" data-bs-target="#demo" aria-label="carousel button 1" data-bs-slide-to="1" class=""></button>
                     <button type="button" data-bs-target="#demo" aria-label="carousel button 2" data-bs-slide-to="2" class=""></button>
                     <button type="button" data-bs-target="#demo" aria-label="carousel button 3" data-bs-slide-to="3" class=""></button>
                     <button type="button" data-bs-target="#demo" aria-label="carousel button 4" data-bs-slide-to="4" class=""></button>
                     <button type="button" data-bs-target="#demo" aria-label="carousel button 5" data-bs-slide-to="5" class=""></button>
                     <button type="button" data-bs-target="#demo" aria-label="carousel button 6" data-bs-slide-to="6" class=""></button>
                     <button type="button" data-bs-target="#demo" aria-label="carousel button 7" data-bs-slide-to="7" class="" aria-current="true"></button>
                     <button type="button" data-bs-target="#demo" aria-label="carousel button 8" data-bs-slide-to="8" class=""></button>
                     <button aria-label="next" type="button" data-bs-target="#demo" data-bs-slide="next" class="carousel-control-next">
                     <span class="carousel-control-next-icon"></span>
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Carousel - Ends -->
   <div class="introstatement d-flex align-items-center">
      <div class="container-xl">
         <div class="row">
            <div class="col-12 d-flex justify-content-center">
               <div class="intro-text">{{ 'Banker to Every Business'|t }}</div>
            </div>
         </div>
      </div>
   </div>
</div>
