{# ============================================================ Fixed Quick Links Section ===== #}
<div id="fixed-quick-links">
   <div id="toaster" class="floating-action-bar" style="width: 3%;">
      <div tabindex="-1" class="floating-btn">
         <button type="button" tabindex="0" placement="right" class="action-btn mb-4 p-3">
            <img loading="lazy" src="{{ base_path ~ directory }}/images/scroller/icon-notification.svg" alt="">
            <div class="Noti_Desc">{{ 'Notifications'|t }}</div>
         </button>
         <!---->
         <button type="button" tabindex="0" class="action-btn mb-4 p-3">
            <img loading="lazy" src="{{ base_path ~ directory }}/images/scroller/contact_us_call_icon.svg" alt="">
            <div class="Noti_Desc">{{ 'Contact Us'|t }}</div>
         </button>
         <!---->
         <button type="button" tabindex="0" class="action-btn mb-4 p-3" onclick="window.location.href='yb-home-faq.html'">
            <img loading="lazy" src="{{ base_path ~ directory }}/images/scroller/icon_Float_Cus_support_new.svg" alt="">
            <div class="Noti_Desc">{{ 'FAQs'|t }}</div>
         </button>
      </div>
   </div>
</div>