{# ============================================================ Joint Venture Section ===== #}
<div id="joint-venture">
    <div class="grow-your-wealth py-5">
        <div class="container-xl pb-4 headersection">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-lg-10 text-start color-black">
                <div class="main-section-heading01">{{ 'Safeguard your assets and'|t }}</div>
                <div class="main-section-heading02">{{ 'Grow Your Wealth'|t }}</div>
                <div class="main-section-desc">{{ 'Wealth management and insurance solutions for a secure tomorrow'|t }}</div>
                <div class="main-section-desc">
                    <!----><!----><!---->
                </div>
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2">
                <!---->
                </div>
            </div>
        </div>
        <div class="container-xl">
            <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4">
                <div class="col">
                <a target="_blank" tabindex="0" class="grow-card p-1 " href="https://sbi.bank.in/web/wealth-management/" aria-label="Redirect to https://sbi.bank.in/web/wealth-management/">
                    <div class="w-100">
                        <div class="grow-card-img">
                            <img loading="lazy" src="{{ base_path ~ directory }}/images/header/sbi-wealth-gyw.png" alt="{{ 'SBI Wealth'|t }}" aria-description="{{ 'SBI Wealth'|t }}" class=""><!----><!---->
                        </div>
                        <div class="grow-card-divider mx-2 my-1"></div>
                        <div class="grow-card-desc px-2 py-1 pb-3"> {{ 'Explore a world of opportunities to meet your financial aspirations'|t }} </div>
                    </div>
                </a>
                </div>
                <div class="col">
                <a target="_blank" tabindex="0" class="grow-card p-1 " href="https://www.sbigeneral.in/product/corporate" aria-label="Redirect to https://www.sbigeneral.in/product/corporate">
                    <div class="w-100">
                        <div class="grow-card-img">
                            <img loading="lazy" src="{{ base_path ~ directory }}/images/header/sbi-general-gyw.png" alt="{{ 'SBI General'|t }}" aria-description="{{ 'SBI General'|t }}" class=""><!----><!---->
                        </div>
                        <div class="grow-card-divider mx-2 my-1"></div>
                        <div class="grow-card-desc px-2 py-1 pb-3"> {{ 'Simple and innovative solutions to build a sustainable business'|t }} </div>
                    </div>
                </a>
                </div>
                <div class="col">
                <a target="_blank" tabindex="0" class="grow-card p-1 " href="https://corporate.sbimf.com" aria-label="Redirect to https://corporate.sbimf.com">
                    <div class="w-100">
                        <div class="grow-card-img">
                            <img loading="lazy" src="{{ base_path ~ directory }}/images/header/sbi-mf-gyw.png" alt="{{ 'SBI Mutual Fund'|t }}" aria-description="{{ 'SBI Mutual Fund'|t }}" class=""><!----><!---->
                        </div>
                        <div class="grow-card-divider mx-2 my-1"></div>
                        <div class="grow-card-desc px-2 py-1 pb-3"> {{ 'Invest smartly, manage liquidity and fuel your business growth with mutual funds'|t }} </div>
                    </div>
                </a>
                </div>
                <div class="col">
                <a target="_blank" tabindex="0" class="grow-card p-1 " href="https://www.sbisecurities.in/corporate-demat-account?utm_source=yono_prelogin" aria-label="Redirect to https://www.sbisecurities.in/corporate-demat-account?utm_source=yono_prelogin">
                    <div class="w-100">
                        <div class="grow-card-img">
                            <img loading="lazy" src="{{ base_path ~ directory }}/images/header/sbi-securities-gyw.png" alt="{{ 'SBI Securities'|t }}" aria-description="{{ 'SBI Securities'|t }}" class=""><!----><!---->
                        </div>
                        <div class="grow-card-divider mx-2 my-1"></div>
                        <div class="grow-card-desc px-2 py-1 pb-3"> {{ 'Achieve your financial goals and take your investments to new heights'|t }} </div>
                    </div>
                </a>
                </div>
                <div class="col">
                <a target="_blank" tabindex="0" class="grow-card p-1 " href="https://www.sbilife.co.in/en/group-insurance/corporate-plans" aria-label="Redirect to https://www.sbilife.co.in/en/group-insurance/corporate-plans">
                    <div class="w-100">
                        <div class="grow-card-img">
                            <img loading="lazy" src="{{ base_path ~ directory }}/images/header/sbi-life-gyw.png" alt="{{ 'SBI Life'|t }}" aria-description="{{ 'SBI Life'|t }}" class=""><!----><!---->
                        </div>
                        <div class="grow-card-divider mx-2 my-1"></div>
                        <div class="grow-card-desc px-2 py-1 pb-3"> {{ 'Secure your future with a wide range of life insurance solutions'|t }} </div>
                    </div>
                </a>
                </div>
                <div class="col">
                <a target="_blank" tabindex="0" class="grow-card p-1 " href="https://www.sbicard.com/en/corporate.page" aria-label="Redirect to https://www.sbicard.com/en/corporate.page">
                    <div class="w-100">
                        <div class="grow-card-img">
                            <img loading="lazy" src="{{ base_path ~ directory }}/images/header/sbi-card-gyw.png" alt=" {{ 'SBI Card'|t }}" aria-description="{{ 'SBI Card'|t }}" class=""><!----><!---->
                        </div>
                        <div class="grow-card-divider mx-2 my-1"></div>
                        <div class="grow-card-desc px-2 py-1 pb-3"> {{ 'Customized Cards  for unique business needs'|t }} </div>
                    </div>
                </a>
                </div>
                <div class="col">
                <a target="_blank" tabindex="0" class="grow-card p-1 " href="https://customer.sbiunipay.sbi.bank.in/CustomerPortal/quickPay" aria-label="Redirect to https://customer.sbiunipay.sbi.bank.in/CustomerPortal/quickPay">
                    <div class="w-100">
                        <div class="grow-card-img">
                            <img loading="lazy" src="{{ base_path ~ directory }}/images/header/sbi-unipay-gyw.png" alt="SBI Unipay" aria-description="SBI Unipay" class=""><!----><!---->
                        </div>
                        <div class="grow-card-divider mx-2 my-1"></div>
                        <div class="grow-card-desc px-2 py-1 pb-3"> {{ 'Single platform for making bill payments anytime anywhere'|t }} </div>
                    </div>
                </a>
                </div>
                <div class="col">
                <a target="_blank" tabindex="0" class="grow-card p-1 " href="https://cmp.sbi.bank.in/Emandates" aria-label="Redirect to https://cmp.sbi.bank.in/Emandates">
                    <div class="w-100">
                        <div class="grow-card-img">
                            <strong class="">{{ 'e-Mandate'|t }}<br>(SBI FAST Plus)</strong><!----><!---->
                        </div>
                        <div class="grow-card-divider mx-2 my-1"></div>
                        <div class="grow-card-desc px-2 py-1 pb-3"> {{ 'Digital version of mandate-based collection in your centralized pooling account'|t }} </div>
                    </div>
                </a>
                </div>
                <div class="col">
                <a target="_blank" tabindex="0" class="grow-card p-1 " href="https://emudra.sbi.bank.in:8044/emudra/basic-details" aria-label="Redirect to https://emudra.sbi.bank.in:8044/emudra/basic-details">
                    <div class="w-100">
                        <div class="grow-card-img">
                            <strong class="">{{ 'e-Mudra Loan'|t }}</strong><!----><!---->
                        </div>
                        <div class="grow-card-divider mx-2 my-1"></div>
                        <div class="grow-card-desc px-2 py-1 pb-3"> {{ 'Loans for new entrepreneurs'|t }} </div>
                    </div>
                </a>
                </div>
                <div class="col">
                <a target="_blank" tabindex="0" class="grow-card p-1 " href="https://www.sbiloansin59minutes.com/home" aria-label="Redirect to https://www.sbiloansin59minutes.com/home">
                    <div class="w-100">
                        <div class="grow-card-img">
                            <strong class="">{{ 'SME BRE Loan'|t }}</strong><!----><!---->
                        </div>
                        <div class="grow-card-divider mx-2 my-1"></div>
                        <div class="grow-card-desc px-2 py-1 pb-3"> {{ 'Business loans to large as well as medium and small business'|t }} </div>
                    </div>
                </a>
                </div>
                <div class="col">
                <a target="_blank" tabindex="0" class="grow-card p-1 " href="https://cmp.yonobusiness.sbi.bank.in/emandate/#/mandateRegistration" aria-label="Redirect to https://cmp.yonobusiness.sbi.bank.in/emandate/#/mandateRegistration">
                    <div class="w-100">
                        <div class="grow-card-img">
                            <strong class=""> {{ 'e-Mandate'|t }}<br>(SBI CMP NextGen)</strong><!----><!---->
                        </div>
                        <div class="grow-card-divider mx-2 my-1"></div>
                        <div class="grow-card-desc px-2 py-1 pb-3"> {{ 'Digital version of mandate-based collection in your centralized pooling account'|t }} </div>
                    </div>
                </a>
                </div>
            </div>
        </div>
    </div>
</div>